@import "./normalize.css";

/*获取根元素HTML  以变量的形式设置基本样式  后面用var使用*/
:root {
  --color-text: #FFFFFF;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  overflow-x: hidden;   /*取消页面横向水平滚动轴  这个网页一般要设置 移动端看情况  但是这种解决方案不是最佳方案 解决方案是定义滚动条浮在页面之上 这样达到最好的显示效果*/
}

a {
  color: var(--color-text);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.arrow-right {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  width: 9px;
  height: 9px;
  background-color: transparent;
  transform: rotate(135deg);
  display: inline-block;
  margin-left: .1rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*以下为滚动条样式*/

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 1px;     /*因为解决不了滚动条悬浮于页面之上的问题 这里先缩小它*/
  /*height: 10px;*/ /*无效 高度是随页面内容多少自动决定的   还有就是这样的原因是我们设置的是垂直的滚动条 竖直的话 */
  background-color: #222222;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  display: none;
}

/*定义上下两端按钮样式*/
::-webkit-scrollbar-button{
  background-color: #222222;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/  /*定义滚动条某一部分的阴影相关的方法*/
  background-color: #353b48;
}



